<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zj.curd.dao.WikiArticlesDao" >

 <sql id="article_table_all_columns">
        ART_ID,
        ART_TITLE,
        ART_KEYWORDS,
        ART_CONTENT,
        CREATE_USER,
        CREATE_TIME,
        UPDATE_USER,
        UPDATE_TIME,
        STATUS,
        MATCH_TIMES,
        SUPPORT_TIMES,
        OPPOSE_TIMES,
        CANMODI_USERS
    </sql>
    
    
    <resultMap id="ArticleResultAu" type="com.zj.curd.entity.WkArticlesauthor">
        <id property="artId" column="ART_ID"/>
        <result property="artTitle" column="ART_TITLE"/>
        <result property="artKeywords" column="ART_KEYWORDS"/>
        <result property="artContent" column="ART_CONTENT"/>
        <result property="createUser" column="CREATE_USER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateUser" column="UPDATE_USER"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="status" column="STATUS"/>
        <result property="mathchTimes" column="MATCH_TIMES"/>
        <result property="supportTimes" column="SUPPORT_TIMES"/>
        <result property="opposeTimes" column="OPPOSE_TIMES"/>
        <result property="canmodiUsers" column="CANMODI_USERS"/>
        <result property="canmodiUsers" column="CANMODI_USERS"/>
        <result property="updatefullName" column="UFULL_NAME"/>
        <result property="createfullName" column="CFULL_NAME"/>
    </resultMap>
    
    <resultMap id="ArticleResult" type="com.zj.curd.entity.WkArticles">
        <id property="artId" column="ART_ID"/>
        <result property="artTitle" column="ART_TITLE"/>
        <result property="artKeywords" column="ART_KEYWORDS"/>
        <result property="artContent" column="ART_CONTENT"/>
        <result property="createUser" column="CREATE_USER"/>
        <result property="createTime" column="CREATE_TIME"/>
        <result property="updateUser" column="UPDATE_USER"/>
        <result property="updateTime" column="UPDATE_TIME"/>
        <result property="status" column="STATUS"/>
        <result property="mathchTimes" column="MATCH_TIMES"/>
        <result property="supportTimes" column="SUPPORT_TIMES"/>
        <result property="opposeTimes" column="OPPOSE_TIMES"/>
        <result property="canmodiUsers" column="CANMODI_USERS"/>
        <result property="canmodiUsers" column="CANMODI_USERS"/>

    </resultMap>

    <!--获得所有文章-->
    <select id="ListArticles" resultMap="ArticleResultAu" parameterType="java.lang.Integer">
        SELECT
        <include refid="article_table_all_columns"/>,c.USER_NICKNAME as UFULL_NAME,a.USER_NICKNAME as  CFULL_NAME
        FROM
        WK_ARTICLES w LEFT JOIN USER c on w.CREATE_USER = c.USER_CODE
        LEFT JOIN USER a on w.CREATE_USER = a.USER_CODE
        <!-- where标签相当于where关键字，可以自动去除第一个and -->
        <where>
            <if test="status!=null">
                AND w.STATUS=#{status}
            </if>
            <if test="tag!=null">
                AND w.ART_KEYWORDS like '%${tag}%'
            </if>
            <if test ="list_qry!=null">
	            <foreach collection="list_qry" item="str_qry">
		            <if test ="str_qry !=null and str_qry !='' ">
		   				AND (w.ART_TITLE  like '%${str_qry}%' OR w.ART_KEYWORDS like '%${str_qry}%' OR c.USER_NICKNAME like '%${str_qry}%'
		   				OR a.USER_NICKNAME like '%${str_qry}%')
					</if>
				</foreach>
			</if>
        </where>
         ORDER BY w.UPDATE_TIME DESC
    </select>
    
    <!--查看文章-->
    <select id="getArticleById" parameterType="java.lang.String" resultMap="ArticleResultAu">
        SELECT <include refid="article_table_all_columns"/>,o.USER_NICKNAME as UFULL_NAME,c.USER_NICKNAME as CFULL_NAME
        FROM
        WK_ARTICLES w LEFT JOIN USER o on w.CREATE_USER = o.USER_CODE 
        LEFT JOIN USER c on w.CREATE_USER = c.USER_CODE 
         WHERE w.ART_ID=#{artId}
    </select>
    
    <insert id="saveArticle" parameterType="com.zj.curd.entity.WkArticles" >
        insert into WK_ARTICLES (ART_ID,ART_TITLE,ART_KEYWORDS,ART_CONTENT,CREATE_USER,
        CREATE_TIME,UPDATE_USER,UPDATE_TIME,STATUS,MATCH_TIMES,SUPPORT_TIMES,OPPOSE_TIMES,CANMODI_USERS)
        values (#{artId},#{artTitle},#{artKeywords},#{artContent},#{createUser},#{createTime},#{updateUser},#{updateTime},
        #{status},#{mathchTimes},#{supportTimes},#{opposeTimes},#{canmodiUsers})
    </insert>
    
    
    <update id="updateArticle" parameterType="com.zj.curd.entity.WkArticles" >
        update WK_ARTICLES  
        <set>
          <if test="artTitle != null">ART_TITLE=#{artTitle},</if>
          <if test="artKeywords != null">ART_KEYWORDS=#{artKeywords},</if>
          <if test="artContent != null">ART_CONTENT=#{artContent},</if>
          <if test="artContent != null">ART_CONTENT=#{artContent},</if>
          <if test="updateTime != null">UPDATE_TIME=#{updateTime},</if>
          <if test="updateUser != null">UPDATE_USER=#{updateUser}</if>
        </set>
        where ART_ID = #{artId}
    </update>
    
    
    <delete id="deleteArticle" parameterType="java.lang.String">
        delete from WK_ARTICLES where ART_ID = #{artId}
    </delete>
    
    <update id="updateMathchTime"  parameterType="java.lang.String">
    	update WK_ARTICLES set  MATCH_TIMES=MATCH_TIMES+1
        where ART_ID = #{artId}
    </update>
    
    <!--热门文章-->
    <select id="hotWkArticles" parameterType="java.lang.Integer" resultMap="ArticleResult">
        SELECT * FROM  WK_ARTICLES WHERE STATUS=#{status} ORDER BY MATCH_TIMES DESC LIMIT 0,5 	
    </select>
    
    
    <!--相关文章-->
    <select id="listrelaWkArticles" resultMap="ArticleResult" >
        SELECT * FROM
        WK_ARTICLES 
        <where>
            <if test="status!=null">
                AND STATUS=#{status}
            </if>
            <if test="artId!=null">
                AND ART_ID != #{artId}
            </if>
            <if test ="KeywordsList!=null">
	            <foreach collection="KeywordsList" item="str_qry" separator="OR" open="AND">
		            <if test ="str_qry !=null and str_qry !='' ">
		   				ART_KEYWORDS like '%${str_qry}%' 
					</if>
				</foreach>
			</if>
        </where>
         ORDER BY MATCH_TIMES  DESC LIMIT 0,10
    </select>
    
    <!--获取Tags-->
    <select id="getTags" parameterType="java.lang.Integer" resultType="String" >
        SELECT ART_KEYWORDS FROM
        WK_ARTICLES
        <!-- where标签相当于where关键字，可以自动去除第一个and -->
        <where>
	        <if test="status!=null">
	        	STATUS=#{status}
	        </if>
	    </where>
	    GROUP BY ART_KEYWORDS ORDER BY count(*) DESC
    </select>
</mapper>